In [1]:
import pandas as pd

### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
data = pd.Series([4,8,15,16,23,42])
data

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
my_list = [1,2,3,4,5,6,7,8,9,10]
list_series = pd.Series(my_list)
list_series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
df = pd.DataFrame([["Alice",25,"Female"],["Bob",30,"Male"],["Claire",27,"Male"]],columns =  ["Name","Age","Gender"])
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27    Male

### Q4 What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
* pandas.series is like a list that can hold values of data
* DataFrame is a 2d table that can be used hold multiple columns of data. It can be considered as a Series which has Series as values

For example a we have a list Age = [25,30,27] and Name = ["Alice","Bob","Claier"]. Each of these is a series. 
We can combine these series to form a single DataFrame that will have these series as columns.

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

* Some important functions are read_csv() that we can use to read a csv file. read_excel() that we can use to read excel file.
* We can use df.dtypes to find out the types of data in each column.
* We can use df.columns() to find out names of columns as a list

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
* A series is one dimensional Array.
* A DataFrame is two dimensional Array.
* A panel is three dimensional Array.
All of these can be changed and hence are immutable.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [5]:
#Assume we have data of employees of a company as series. We have names, departments and salary.
names = pd.Series(["John","Mark","Adam","Anna"])
department = pd.Series(["IT","Sales","HR","Engineering"])
salary = pd.Series([98000,56000,60000,100000])
# we can create a dataFrame from combining all these series.
employee_data = pd.DataFrame({"Name":names,"Department":department,"Salary":salary})
employee_data

   Name   Department  Salary
0  John           IT   98000
1  Mark        Sales   56000
2  Adam           HR   60000
3  Anna  Engineering  100000