## Mongo DB

### What is MongoDB?
	Mongo db is a non relational database. It is used to store data in the form of documents and collections. A document is similar to SQL database and a collection is similar to SQL table.
    The records are stored in form of key value pairs in mongo db.
### Non Relational Databases
	Non relational databases store the records in non relational way. That means there is no rigid structure and no need of schemas.
### When should MongoDb be preffered over SQL databases

#### More Flexible
	Mongo db doesn't have a specific schemas, therefore, it is more flexible as compared to SQL.
    
### Less complexity
	Data is stored in simple form of key value pairs and there is no need to crate complex tables and their relationship which gets tedious in SQL when lots of tables are invlolved.
    
#### More scaleable
	Mongo db is horizontally scaleable (we can add more machines to store more data), whereas SQL databases are vertically scaleable (we have to add more powerful machines, so more power is required). Therefore, MongoDb is better at storing large amounts of data that is distributed.
#### Some Drawback of MongoDb
	It is awesome, but it also has some drawbacks. For example there are no stored procedures in MongoDb. Moreover, complex joins cannot be applied to MongoDb.

### Features of MongoDB
Mongo DB is

	1. Flexible (you don't need rigid database schemas)
    2. Scaleable: Is horizontally scaleable and can be used in distributed systems
    3. High performance

**Code to Connect Mongo DB to server**

In [2]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://<username>:<password>@cluster0.sdi84ef.mongodb.net/?retryWrites=true&w=majority")

#Creating database
db = client['firstdb']
#creating colelction
col = db["first_collection"]

In [3]:
#inserting one record
data = {"abc":"123"}
col.insert_one(data)

In [4]:
#inserting many record
multiple_data = [{"Name": "John", "Salary":12200}, {"Name": "Peter", "Salary":120000}]
col.insert_many(multiple_data)

In [5]:
#collection.find() returns all the record in the collection
for record in col.find():
    print(record)

{'_id': ObjectId('63f5daa878ab39dc5e7d430e'), 'abc': '123'}
{'_id': ObjectId('63f5dacd78ab39dc5e7d430f'), 'Name': 'John', 'Salary': 12200}
{'_id': ObjectId('63f5dacd78ab39dc5e7d4310'), 'Name': 'Peter', 'Salary': 120000}
{'_id': ObjectId('63f5e3f52374a8a5a2c3555f'), 'abc': '123'}
{'_id': ObjectId('63f5e40a2374a8a5a2c35560'), 'Name': 'John', 'Salary': 12200}
{'_id': ObjectId('63f5e40a2374a8a5a2c35561'), 'Name': 'Peter', 'Salary': 120000}

In [6]:
#col.find_one() returns the first record in collection
print(col.find_one())

{'_id': ObjectId('63f5daa878ab39dc5e7d430e'), 'abc': '123'}

In [7]:
#using find method to query database and getting salaries less than 100000
for record in col.find({"Salary":{"$lt":100000}}):
    print(record)

{'_id': ObjectId('63f5dacd78ab39dc5e7d430f'), 'Name': 'John', 'Salary': 12200}
{'_id': ObjectId('63f5e40a2374a8a5a2c35560'), 'Name': 'John', 'Salary': 12200}

### Sort in MongoDb
sort can be used to sort a collection in MongoDb in ascending or descending order.
It takes a dictionary (object) where key is the column name or record key to sorty by and a value 1 to sort in ascending or -1 to sort in descending.

In [8]:
for record in col.find().sort("Salary",-1 ):
    print(record)

{'_id': ObjectId('63f5dacd78ab39dc5e7d4310'), 'Name': 'Peter', 'Salary': 120000}
{'_id': ObjectId('63f5e40a2374a8a5a2c35561'), 'Name': 'Peter', 'Salary': 120000}
{'_id': ObjectId('63f5dacd78ab39dc5e7d430f'), 'Name': 'John', 'Salary': 12200}
{'_id': ObjectId('63f5e40a2374a8a5a2c35560'), 'Name': 'John', 'Salary': 12200}
{'_id': ObjectId('63f5daa878ab39dc5e7d430e'), 'abc': '123'}
{'_id': ObjectId('63f5e3f52374a8a5a2c3555f'), 'abc': '123'}

### Why delete_one(), delete_many(), and drop() is used.
delete_one is used to delete one matching record from the collection. It deletes the first matched record.
delete_many is used to delete all the matching records from the collection.
drop is used to delete all the records from the collection.